<!DOCTYPE html>

<html lang="en" class="h-100" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="blocks/head">
</head>


<body class="h-100 text-black bg-white">

<div class="cover-container d-flex w-90 h-90 p-3 mx-auto flex-column">

    <header class="mb-15" th:insert="blocks/header">
    </header>

    <main class="px-3">

        <div class="categories p-3">
            <h3>Години проведення пар:</h3>
        </div>

        <table class="table table-white table-bordered table-hover text-center">
            <thead>
            <tr class="row ml-3">
                <th class="col-6">№</th>
                <th class="col-6">Час</th>
            </tr>
            </thead>
            <tbody>
            <tr class="row ml-3">
                <td class="col-6">1</td>
                <td class="col-6">8:40-10:15</td>
            </tr>
            <tr class="row ml-3">
                <td class="col-6">2</td>
                <td class="col-6">10:35-12:10</td>
            </tr>
            <tr class="row ml-3">
                <td class="col-6">3</td>
                <td class="col-6">12:20-13:55</td>
            </tr>
            <tr class="row ml-3">
                <td class="col-6">4</td>
                <td class="col-6">14:05-15:35</td>
            </tr>

            </tbody>
        </table>


    </main>

    <footer class="mt-auto text-white-50">

    </footer>
</div>

</body>

</html>